<div class="dish-card">
  <div class="dish-card-header">
    {{!-- section --}}
    {{dish_name}}
  </div>
  <div class="card-body">
  <!-- TODO: Add your code here to render dish descriptions using Handlebars.js -->
    {{!-- section --}}
    {{ description }}

    <ul class="">
      {{#each dishes}}
      {{!-- <li> {{@index}}: {{this}} </li> --}}
      <li> {{this}} </li>
      {{!-- <li> {{@dish}}: {{this}} </li> --}}
      {{/each}}
    </ul>

  </div>
</div>
